body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background: #2c3e50;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.sidebar button:hover {
    background: #5c5e5e;
}

.map-container {
    flex: 1;
    height: 100vh;
}
